html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
body {font-size: 9pt; font-family: "ו"} 
a:link {color: #000000; text-decoration: none}
a:visited {color: #000000; text-decoration: none}
a:active {color: #0000FF; text-decoration: none}
a:hover {color: #0000FF; text-decoration: underline}
td {font-size: 9pt; font-family: "ו"} 

v\:*         { behavior: url(#default#VML) }
o\:*         { behavior: url(#default#VML) }
.shape       { behavior: url(#default#VML) }